@page "/"

<h1>Hello, world!</h1>

<AuthorizeView>
    <NotAuthorized>
        You need to login.
    </NotAuthorized>
    <Authorized>
        Welcome to your new app.
    </Authorized>
</AuthorizeView>


